.logo-main {
  color: #fff;
  font-family: Clash Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.logo-linked {
  color: #d434fe;
  font-family: Clash Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
