.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: "Clash Display";
  src: url("../../fonts/OTF/ClashDisplay-Bold.otf");
}

.logo {
  flex: 1.5;
  font-family: Clash Display, sans-serif;
}

.navList {
  display: flex;
  align-items: center;
}

.navLink {
  margin: 0 20px;
  color: var(--color-white);
  /* transition: all 0.4 ease; */
}

.navLink:hover {
  color: var(--color-brand);
}

.get {
  color: var(--color-white);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}

.linked {
  color: var(--color-brand);
  font-size: 36px;
  font-style: normal;
}

.linksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 2;
}
